.title {
  color: #02ccba;
}
.body{
  width:100%;
}

.contents-container {
  border-top: double;
}

.top-container h1{
  font-size:45px;
}
.top-contents{
  padding-bottom:120px;
}
.signup{
  background-color: green;
  height:20px;
  color:white;
  margin: 5px;
  border-radius: 3px;
  padding:6px 7px;
  font-size: 14px;
  cursor: pointer;
}
.login{
  background-color: navy;
  height:20px;
  color:white;
  margin: 5px;
  border-radius: 3px;
  padding:6px 7px;
  font-size: 14px;
  cursor: pointer;
}

.top-container{
  text-align: center;
}

.top-contents{
  padding-top:50px;
}

.content{
  float:left;
  width:33%;
  text-align: center;
}

img{
  width:290px;
  height:80px;
  border-radius: 5px;
}


.top-container{
  text-align: center;
}

body{
  background-color:rgb(165, 233, 243);
  height:950px;
}

.content{
  float:left;
  width:33%;
  text-align: center;
}

img{
  width:100px;
  border-radius: 5px;
}

.contents-wrapper {
  padding-top: 180px;
}